*{
    margin: 0;
    padding: 0;
    font-family: "calibri";
}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 400px 10px 150px;
    position: fixed;
    background-color: #494ea2;
    z-index: 9999;
}
.navbar a{
    color: white;
    background-color: #494ea2;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    transition: 0.5s;
    opacity: 50%;
}
.navbar .navs a{
    margin-right: 20px;
}
.navbar .navs{
    margin-top: 10px;
    margin-left: 550px;
}
.navbar a:hover{
    color: red;
    background-color: #494ea2;
    padding: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.landing{
    background-color: #494ea2;
    height: 750px;
}
.container{
    display: flex;
    flex-direction: row;
    padding-top: 95px;
}
.title{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 40px;
}
.contact{
    padding-top: 30px;
}
.container .title h1{
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 5px grey;
}
.contact a{
    color: white;
    background-color: #f578b4;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 5px 5px 5px pink;
}
.frame1{
    background-color: white;
    height: 750px;
}
.frame1 .menu1{
    display: flex;
    flex-direction: column;
}
.frame1 .menu1 .line{
    width: 70px;
    height: 5px;
    background-color: red;
}
.frame1 .menu1 .teks1 h1{
    font-family: Arial Black;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px grey;
}
.frame1 .menu1 .teks1{
    padding-left: 200px;
    padding-top: 100px;
}
.frame1 .menu1{
    display: flex;
    flex-direction: row;
}
.frame1 .menu1 .do .icon{
    display: flex;
    flex-direction: row;
}
.frame1 .menu1 .do .icon .paragraf{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.frame1 .menu1 .do{
    padding-left: 370px;
    padding-top: 130px;
}
.frame1 .menu1 .do .icon img{
    padding-top: 10px;
}
.frame2{
    background-color: #f5f6fb;
    height: 750px;
}
.frame2 .menu2{
    display: flex;
    flex-direction: column;
}
.frame2 .menu2 .line{
    width: 70px;
    height: 5px;
    background-color: red;
}
.frame2 .menu2 .teks2 h1{
    font-family: Arial Black;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px grey;
}
.frame2 .menu2 .teks2{
    padding-left: 200px;
    padding-top: 100px;
}

.frame2 .menu2{
    display: flex;
    flex-direction: row;
}

img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .trigger {
    display: none;
  }
  
  .slider, .slider-wrapper {
    position: relative;
    height: 400px;
    width: 400px;
  }

  .slider-wrapper{
    padding-left: 400px;
    padding-top: 100px;
  }
  
  .slide {
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
  .slide-img {
    filter: brightness(50%);
    height: 100%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
  }
  
  .slide-figure {
    height: 100%;
    position: relative;
    margin: 0;
  }
  
  .slide-caption {
    position: absolute;
    bottom: 30%;
    width: calc(100% - 1rem);
    color: white;
    text-align: center;
    left: 50%;
  }
  
  .trigger:checked + .slide {
    z-index: 6000;
    opacity: 1;
  }
  
  .slider-nav {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  
  .slider-nav__item {
    display: inline-block;
  }
  
  .slider-nav__label {
    font-size: 13px;
    background-color: #333;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
  }
  
  .slider-nav__label:hover,
  .slider-nav__label:active,
  .slider-nav__label:focus {
    background-color: gray;
    color: black;
  }

  .frame2 .menu2 .work .viewall a{
    color: white;
    background-color: #f578b4;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 5px 5px 5px pink;
  }
  .frame2 .menu2 .work .viewall{
    padding-top: 70px;
    padding-left: 545px;
  }
  .frame3{
    background-color: white;
    height: 500px;
  }
  .frame3 h1{
    font-family: Arial Black;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px grey;
  }
  .frame3 .line{
    width: 70px;
    height: 5px;
    background-color: red;
  }
  .frame3 .menu3{
    padding-left: 500px;
    padding-top: 200px;
  }
  .frame3 .menu3 .line1{
      padding-left: 250px;
  }
  .frame3 .routine{
      display: flex;
      flex-direction: row;
      float: left;
  }
  .frame3 .routine .clear{
      clear: left;
  }

  .frame4{
      background-color: #3c3e64;
      height: 320px;
  }

.frame4 .footers .profile h1{
    font-size: 30px;
    color: white;
}
.frame4 .footers .profile p{
    color: white;
    opacity: 50%;
}
.frame4 .footers .profile .contact{
    padding-left: 900px;
}
.frame4 .footers .profile{
    padding-left: 200px;
    padding-top: 100px;
}

html {
  scroll-behavior: smooth;
}